#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	admin:
			pass: superTajneHeslo
			mail: test@dispostable.com
	event:
		title: 'K-SCUK'
		period: '7.–14. 9. 2024'
		#place: '<a href="http://dobravoda.abahoa.cz/">Dobrá Voda u Třebíče</a>'
		place: '<a href="http://www.sdruzenipetrov.cz/tzjunior/">Táborová základna Junior</a> u Vranovské přehrady</a>'
		lodging: 'v budově na lůžkách'
		#price: 'Zadarmo (financováno <a href="http://www.muni.cz">Masarykovou univerzitou</a>)'
		#price: 'Nejspíš zadarmo, případně za symbolický poplatek v závislosti na výši podpory od MU'
		price: 'Poplatek za soustředění bude maximálně 1 000 Kč. Jedná se o příspěvek na stravování a jeho výši upřesníme před konáním soustředění'
		#price: 'Nejspíš zadarmo, ale než budeme mít přislíbeny peníze od MU, nic neslibujeme'
		#price: 'Zadarmo'
		#price: 'Zadarmo. K-SCUK vznikl díky podpoře Ministerstva školství, mládeže a tělovýchovy, dotace na podporu nadaných žáků základních a středních škol v roce 2022 (projekt č. 0038/7/NAD/2022)'
		#status: 'Kapacita soustředění je naplněna, přijímáme náhradníky!'
		#status: 'Kapacita soustředění je naplněna, těšíme se na akci!'
		#status: 'Přihlašování na K-SCUK již bylo ukončeno!'
		#status: 'K-SCUK 2022 bude. Více informací přidáme koncem školního roku.'
		status: 'K-SCUK 2024 se připravuje!'
		#status: 'Přihlašování momentálně není možné kvůli technickým problémům. Na řešení pracujeme.'
		#status: 'K-SCUK 2023 proběhl.'

	# Registration settings
	# - Categories: order (the numbers after :) must be sequence starting from 0
	# - Dates in YYYY-mm-dd hh:mm:ss format
	# - Photos = FALSE - users won't be ask to load photo
	registration:
		start: "2024-08-18 15:00:00"
		end: "2024-08-22 02:00:00"
		deletable: false
		categories:
			personal: "0"
			interesting: "1"
			organization: "2"
		photo: false
		sendMailToAttendee: true

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	- App\Model\UserAuthenticator
	- App\Model\HealthDeclaration
	- App\Model\Import
	- App\Model\Person
	- App\Model\Question
	- App\Utils\Parameters(@container::getParameters())
	#router: App\RouterFactory::createRouter
	- App\Components\IAuthFormFactory
	- App\Components\IPeopleFactory
	- App\Components\IRegistrationFactory
	- App\Components\IHealthDeclarationFactory

dibi:
	driver: mysqli
	host: db
	database: kscuk2013
	username: 'kscuk'
	password: 'password1234'
	lazy: TRUE

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
