#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	admin:
			pass: superTajneHeslo
			mail: test@dispostable.com
	event:
		title: 'K-SCUK'
		period: '7.–14. 9. 2019'
		place: '<a href="https://mapy.cz/s/2WNjr">Dobrá voda u Třebíče</a>'
		lodging: 'v budově na lůžkách ve vlastních spacácích'
		price: 'Zadarmo (financováno <a href="http://www.muni.cz">Masarykovou univerzitou</a>)'
		#price: 'Nejspíš zadarmo, ale než budeme mít příslíbeny peníze od MU, nic neslibujeme'
		#status: 'Kapacita soustředění je naplněna, těšíme se na akci!'
		#status: 'Přihlašování na K-SCUK již bylo ukončeno!'
		#status: 'K-SCUK 2019 bude. Více informací přidáme datum.'
		#status: 'K-SCUK 2019 se připravuje!'

	# Registration settings
	# - Categories: order (the numbers after :) must be sequence starting from 0
	# - Dates in YYYY-mm-dd hh:mm:ss format
	# - Photos = FALSE - users won't be ask to load photo
	registration:
		start: "2019-05-11 12:00:00"
		end: "2019-08-18 0:00:00"
		deletable: false
		categories:
			personal: "0"
			organization: "1"
			interesting: "2"
		photo: false
		sendMailToAttendee: false

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	- App\Model\UserAuthenticator
	- App\Model\HealthDeclaration
	- App\Model\Import
	- App\Model\Person
	- App\Model\Question
	- App\Utils\Parameters(@container::getParameters())
	#router: App\RouterFactory::createRouter
	- App\Components\IAuthFormFactory
	- App\Components\IPeopleFactory
	- App\Components\IRegistrationFactory
	- App\Components\IHealthDeclarationFactory

dibi:
	driver: mysql
	host: localhost
	database: kscuk2013
	username: 'root'
	password: ''
	lazy: TRUE

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22
