{extends @layout.latte}

{block #org-content}

	{if !empty($image)}
	<div id="person-image">
		<img src="{$basePath}{$image}" alt="Účastníkova fotka"  />
	</div>
	{/if}

	{foreach $questions as $name => $category}
		<h2>{$categories[$name]}</h2>
		<table class="answers-in-category table-default">
		{foreach $category as $question}
			<tr{if $iterator->isEven()} class="even"{/if}>

			<th>{$question->question}</th>
			<td>
			{if !empty($people[$question->id_question])}
				{$people[$question->id_question]->answer|texy|noescape}
			{/if}
			</td>
		{/foreach}
		</table>
	{/foreach}
	<h2>Zdravodeklarace</h2>
	{if $healthDeclarationFilled}
		<a href="{plink Forms:filledFormOrg, $email}" target="_blank">Otevřít</a>
	{else}
		—
	{/if}
{/block}
