{if !empty($people)}
<table id="people" cellspacing="0">
		<tr>
			<th></th>
			{foreach $questions AS $question}
			<th>
				{if empty($printable)}
					{=\Nette\Utils\Strings::truncate($question->question, 15)}
				{else}
					{$question->question}
					
				{/if}
			</th>
			{/foreach}
		</tr>
	{foreach $people AS $answers}
		<tr{if $iterator->isEven()} class="even"{/if}>
			<td><a href="{plink Org:detail, end($answers)->id_registered}" class="detail">&nbsp;</a></td>
			{foreach $questions AS $question}
				<td>
					{if !empty($answers[$question->id_question])}
						{$answers[$question->id_question]->answer|texy|noescape}
					{/if}
				</td>
			{/foreach}
		</tr>
	{/foreach}
	</table>
{/if}

{control questionForm}
