{if !empty($people)}
<table id="people" class="table-default" cellspacing="0">
		<tr>
			<th></th>
			{foreach $questions AS $question}
			<th>
				{if empty($printable)}
					{=\Nette\Utils\Strings::truncate($question->question, 15)}
				{else}
					{$question->question}
					
				{/if}
			</th>
			{/foreach}
			{if $showHealthDeclarations}
				<th>
					Zdravodeklarace
				</th>
			{/if}
		</tr>
	{foreach $people AS $id_registered => $answers}
		<tr{if $iterator->isEven()} class="even"{/if}>
			<td><a href="{plink Org:detail, $id_registered}" class="detail">&nbsp;</a></td>
			{foreach $questions AS $question}
				<td>
					{if !empty($answers[$question->id_question])}
						{$answers[$question->id_question]->answer|texy|noescape}
					{/if}
				</td>
			{/foreach}
			{if $showHealthDeclarations}
				<td>
					{if $healthDeclarations[$id_registered]}
						<a href="{plink Forms:filledFormOrg, $emails[$id_registered]}" target="_blank">Otevřít</a>
					{else}
						—
					{/if}
				</td>
			{/if}
		</tr>
	{/foreach}
	</table>
{/if}

{control questionForm}
