<p>
	Ahoj,
</p>

<p>
	posíláme ti odkaz na vyplněnou zdravotní deklaraci. Vytiskni si jí prosím a podepsanou ji přines na soutředění.<br />
	<a href="{$link}">Stáhnout vyplněnou zdravotní deklaraci</a>
</p>

<p>
	Díky,<br/>
	KSCUK web
</p>
