<p>
	Ahoj,
</p>

<p>
	posíláme Vám odkaz na vyplněnou zdravotní deklaraci. Vytiskněte si jej prosím a podepsaný jej přineste na soutředění.<br />
	<a href="{$link}">Stáhnout vyplněnou zdravotní deklaraci</a>
</p>

<p>
	Díky,<br/>
	KSCUK web
</p>