<!DOCTYPE html>
<html>
	<head>
		<title>{$event->title} | Soustředění korespondečních seminářů</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="K-SCUK je společné soustředění pro řešitele seminářů IBIS a KSI Masarykovy univerzity." />
		<meta name="keywords" content="K-SCUK,KSI,IBIS,KEKS,FIMU,FI,soustředění,Masarykova univerzita" />
		<meta name="author" content="Jan Drábek, Jan Papoušek, Vendula Němcová, Jan Horáček" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{$basePath}/css/main.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/header.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/footer.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/flashes.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/buttons.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/content.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/homepage.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/forms.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/tables.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/archive.css" type="text/css" media="screen">
		<link type="text/css" rel="stylesheet" href="{$basePath}/css/lightgallery.css" />
		<link rel="icon" href="{$basePath}/favicon.ico" />
		<script src="{$basePath}/js/jquery.min.js" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
		<meta property="og:image" content="https://kscuk.fi.muni.cz{$basePath}/img/cover_image_min.jpg" />
		<meta property="og:url" content="https://kscuk.fi.muni.cz" />
		<meta property="og:title" content="{$event->title} | Soustředění korespondečních seminářů" />
		<meta property="og:description" content="K-SCUK je společné soustředění pro řešitele seminářů IBIS a KSI Masarykovy univerzity." />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{$event->title} | Soustředění korespondečních seminářů" />
		<meta name="twitter:description" content="K-SCUK je společné soustředění pro řešitele seminářů IBIS a KSI Masarykovy univerzity." />
		<meta name="twitter:url" content="https://kscuk.fi.muni.cz" />
		<meta name="twitter:image" content="https://kscuk.fi.muni.cz{$basePath}/img/cover_image_min.jpg" />
		{block #header}{/block}
	</head>
	<body>
		{if new \Nette\Utils\DateTime() >= \Nette\Utils\DateTime::from($registration->start) && new \Nette\Utils\DateTime() <= \Nette\Utils\DateTime::from($registration->end)}
			{var $registrationOpen = true}
		{/if}
		<div id="container">

			<div id="header">
				<div id="menu">
					<h1>
						<a n:href="Default:">
							<img id="menuLogo" src="{$basePath}/img/kscuk-logo-menu.svg" alt="{$event->title}">
						</a>
					</h1>
					<ul id="links">
						<li><button id="menu-button">&equiv;</button>
							<ul>
								{php $wholeName = $presenter->getName().":".$presenter->getAction()}
								<li><a n:href="Default:#about" id="menu-about">Informace</a></li>
								<li><a n:href="Default:#organizators" id="menu-organizators">Orgové</a></li>
								{if isset($registrationOpen)}
									<li>
										<a n:href="Default:registration" {if $wholeName == "Default:registration"} class="current-page" {/if}>
											Registrace
										</a>
									</li>
								{/if}
								<li><a n:href="Default:archive" {if $wholeName == "Default:archive"} class="current-page" {/if}>Archiv</a></li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="flashes" id="flashes-main">
					{foreach $flashes as $flash}
						<div class="flash {$flash->type}">
							{$flash->message|noescape}
						</div>
					{/foreach}
					<noscript><div class="flash error">V této stránce není šifra. Ale když zapneš javascript, nějakou možná objevíš!</div></noscript>
				</div>

			</div>
			{block #content}{/block}
			<div id="footer">
				<div id="logos">
					<a id="ksi" href="http://ksi.fi.muni.cz" target="_blank" title="KSI"></a>
					<a id="ibis" href="http://ibis.sci.muni.cz/" target="_blank" title="IBIS"></a>
					<a id="fi" href="http://fi.muni.cz" target="_blank" title="FI"></a>
					<a id="prf" href="http://www.sci.muni.cz/" target="_blank" title="PrF"></a>
					<a id="muni" href="http://www.muni.cz" target="_blank" title="MUNI"></a>
				</div>
				<div id="texts">
					<div id="email">
						k<span style="display:none">loskarlos</span>scuk@fi.muni.cz
					</div>
					<div id="licence">
						Obsah je poskytován pod licencí
						<a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC v4.0</a>.
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$('#menu-button').on('click', function(e) {
				e.preventDefault();
				e.stopPropagation();
				console.log(e.target);
				$("#links").toggleClass("visible");
			});
		</script>
	</body>
</html>
