<!DOCTYPE html>
<html>
	<head>
		<title>{$event->title} | Soustředění korespondečních seminářů</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="K-SCUK je společné soustředění pro řešitele seminářů IBIS a KSI Masarykovy univerzity." />
		<meta name="keywords" content="K-SCUK,KSI,IBIS,KEKS,FIMU,FI,soustředění,Masarykova univerzita" />
		<meta name="author" content="Jan Drábek, Jan Papoušek" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{$basePath}/css/main.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/header.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/footer.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/flashes.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/buttons.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/content.css" type="text/css" media="screen">
		<link rel="stylesheet" href="{$basePath}/css/homepage.css" type="text/css" media="screen">
		<link rel="icon" href="{$basePath}/favicon.ico" />
		{block #header}{/block}
	</head>
	<body>
		{if new \Nette\Utils\DateTime() >= \Nette\Utils\DateTime::from($registration->start) && new \Nette\Utils\DateTime() <= \Nette\Utils\DateTime::from($registration->end)}
			{var $registrationOpen = true;}
		{/if}
		<div id="container">

			{block #body}{/block}
		</div>
	</body>
</html>
