.year {
	padding: 2em 0;
}

.year:first-child {
	padding: 1em 0 2em 0;
}

table.meta {
	margin-bottom: 1em;
}

table.meta tr td:first-of-type {
	width: 10%;
	color: #000;
	font-size: 110%;
	vertical-align: text-top;
	text-align: left;
}

.story {
	text-align: justify;
	margin-bottom: 2em;
}

.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.gallery img {
	width: 150px;
	height: 100px;
	object-fit: cover;
}

.gallery a {}

.more {}


@media(min-width: 832px) and (max-width: 1000px) {

	.gallery img {
		width: 180px;
		height: 120px;
	}
}

@media(min-width: 1500px) and (max-width: 2572px) { /* ~ 290px max sirka */
	.gallery img {
		width: 11.2vw;
		height: 7.47vw;
	}

	.gallery a {
		width: 16%;
	}
}

@media(min-width: 3530px) {
	.gallery img {
		width: 201px;
		height: 134px;
	}
}