#side {
	display: none;
	visibility: hidden;
}

#wrapper-body {
	width: 100%;
	padding: 10px;
	background: white;
}
#wrapper-all {
	margin: 20px auto;
	width: 100%;
}
td {
	min-width: 50px;
}
td img {
	display: none;
	visibility: hidden;
}
#people .detail {
	background: none;
}