form th {
	color: black;
	background: white;
	font-weight: bolder;
	text-align: right;
}

#wrapper-body {
	width: 700px;
	padding: 10px;
	background: #444444;
}

#wrapper-all {
	margin: 20px auto;
	width: 880px;

}

#side {
	width: 150px;
	padding: 10px;
	float: right;
	padding-left: 0;
	text-align: center;
}

#side ul {
	list-style: none;
	padding: 0;
	text-align: left;
}

#side a {
	display: block;
	border: none;
	margin: 10px 0;
	background: #0969A2;
	padding: 5px 10px;
	color: white;
}

#side a:hover, #side a:focus {
	background: #06246F;
}

#side a.highlighted {
	background: #FF3E2A;
}

#side a.highlighted:hover, #side a.highlighted:focus {
	background: #C41300;
}

#people {
	width: 100%;
}

#people th {
	background: #00a67a;
	color: white;
}

#people td {
	border-bottom: 1px dashed #00a67a;
}

#people p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.answers-in-category {
	margin-bottom: 20px;
}

.answers-in-category th {
	width: 200px;
	font-weight: normal;
}

.answers-in-category .even th {
	background: #444444;
	color: white;
}

#person-image {
	width: 200px;
	margin: 10px auto;
	text-align: center;
}

#person-image img {
	max-height: 200px;
	max-width: 200px;

	border: 3px double gray;
}

#admin-menu {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #fbaf40;
}

#admin-menu ul {
	list-style: none;
	margin: 0 auto;
	padding: 10px;
}

#admin-menu ul li {
	float: left;
	margin-right: 25px;
	padding-right: 25px;
	border-right: 1px solid white;
}

#admin-menu ul li.last {
	border: 0px;
}

#admin-menu ul li a {
	color: white;
}

#admin-menu ul li a:hover {
	color: #9E805C;
}
