@media(max-width: 710px) {
	#footer {
		justify-content: space-around !important;
	}
}

#footer {
	position:absolute;
	bottom:0;
	width: 100%;
	padding: 0.5em 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #b7b8b9;
}

#footer #logos {
	min-width: 340px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer #logos a {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 5%;
}

#footer #logos a:nth-child(2) {
	height: 40px;
}

#footer #logos a:last-child {
	margin-right: 0;
}

#footer #logos a img {
	width: 50px;
}

#footer #email {
	text-align: right;
	color: #fff;
}
