#footer {
	position:absolute;
	bottom:0;
	width: 100%;
	padding: 0.5em 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	background-color: #b7b8b9;
}

@media(max-width: 919px) {
	#footer {
		justify-content: center !important;
	}

	#footer #texts {
		margin-top: 1em;
	}

	#footer #texts #email, #footer #texts #licence {
		text-align: center !important;
	}
}

#footer #logos {
	min-width: 340px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer #logos a {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 5%;
}

#footer #logos a:nth-child(2) {
	height: 40px;
}

#footer #logos a:last-child {
	margin-right: 0;
}

#footer #logos a img {
	width: 50px;
}

#footer #email {
	text-align: right;
}

#footer #licence {
	background-color: #b7b8b9;
	font-size: 70%;
	text-align: right;
}

#footer #licence, #licence a {
	color: #fff;
}

#footer #licence a:hover {
	color: #939597;
}