legend {
	display: block;
	font-size: 1.1em;
	margin: 0;
}
fieldset {
	margin-bottom: 10px;
	border: none;
	padding: 10px 0 !important;
}

fieldset.required legend::after {
	content: " *";
	color: #fbaf40; /*#0969A2;*/
}
form p {
	font-size: smaller;
}
form small {
	display: block;
	font-size: 0.9em;
	margin-top: 5px;
}
input[type=text], textarea, input[type=password], select {
	width: 100%;
	font-family: inherit;
}

input[type=text], textarea, input[type=password] {
	border: 1px solid #bdbdbd;
	padding: 5px 5px;
}
input[type=text]:active {
	border: 1px solid gray;
}
input[type=submit] {
	display: inline-block;
	padding: 5px;
	margin-top: 10px;
	border: inherit;
}
input[type=checkbox] {
	margin-right: 10px;
}

label.checked {
	color: #00a67a;
}

textarea {
	height: 15em;
}
