legend {
	display: block;
	font-size: 1.1em;
}

fieldset {
	margin-bottom: 10px;
	border: none;
	padding: 10px 0 !important;
}

fieldset p {
	margin-top: 0px;
}

fieldset.required legend::after {
	content: " *";
	color: #fbaf40; /*#0969A2;*/
}

form p {
	font-size: smaller;
}

form small {
	display: block;
	font-size: 0.9em;
	margin-top: 5px;
}

input[type=text], textarea, input[type=password], select {
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
	font-family: inherit;
}

input[type=text], textarea, input[type=password] {
	border: 1px solid #bdbdbd;
	padding: 5px 5px;
	width: 100%;
}

input[type=text]:active {
	border: 1px solid #b7b8b9;
}

select {
	box-sizing: border-box;
}

input[type=submit] {
	display: inline-block;
	border: inherit;
	font-size: 150%;
}

input[type=submit].button.green:hover, input[type=submit].button.orange:hover {
	background-color: #b7b8b9;
}

input[type=checkbox] {
	margin-right: 10px;
}

label.checked {
	color: #00a67a;
}

textarea {
	height: 15em;
}
